body{
    background-color:#f3fafa;
}
hr{
    
    width: 100px;
    border: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color:grey;


}
h1{
    color:#66BFBF;
}
h3{
    color:#66BFBF;
}
